@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;

}


.img{
    background-image: url(img/microchip.png);
    height: 48rem;
    width: 46rem;
    background-repeat: no-repeat;
    filter: blur(15px);
    background-position: center;
    margin-left: 26rem;
}

image{
    height: 55rem;
    width: 55rem;
}

.bg-text {
    text-align: center;
    border-radius: 26px;
    display: grid;
    height: 30rem;
    width: 28rem;
    background-color: transparent;
    transform: translate(568px, -626px);
    box-shadow: 50px 20px 40px rgba(0, 0, 0, 0.244), inset 20px 20px 60px rgba(255, 255, 255, 0.556);
    justify-items: center;
    align-items: center;
    justify-content: center;
}
 
.names{
    padding-top: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.c-items{
    display: flex;
}


input#fname {
 
    margin-left: 8px;
    padding-left: 31px;
    border: none;
    height: 2rem;
    width: 12rem;
    border-radius: 15px;
    box-shadow: 30px 20px 40px rgba(0, 0, 0, 0.96), inset 20px 20px 60px rgb(255, 255, 255);
}



textarea#subject {
    border: none;
    border-radius: 15px;
    width: 18rem;
    resize: none;
}
